<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- message %></title>
  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
  <%- include('style') %>
</head>
<body>
  <div class="swimlane">
    <div id="input-swimlane" class="input-swimlane"></div>
    <div id="main-swimlane" class="main-swimlane" 
         hx-get="/document/<%= selected.flowId %>/<%= selected.componentId %>"
         hx-trigger="load"
         hx-target="#main-swimlane">
      <!-- Component will be loaded here -->
    </div>
    <div id="output-swimlane" class="output-swimlane"></div>
  </div>

  <script>
    const socket = io();

    socket.on('display-flow-component-template-content', function(event) {
      const targetId = `${event.flowId}.${event.componentId}.${event.templateId}`;
      const targetElement = document.getElementById(targetId);
      if (targetElement) {
        targetElement.outerHTML = event.content;
      }
    });

    htmx.on("htmx:configRequest", (event) => {
      event.detail.headers['Content-Type'] = 'application/json';
    });

    function loadConnectedComponents(direction, flowId, componentId, port) {
      const swimlane = direction === 'input' ? document.getElementById('input-swimlane') : document.getElementById('output-swimlane');
      swimlane.innerHTML = '';
      const eventElement = document.createElement('div');
      eventElement.setAttribute("id", `${flowId}.${componentId}.${port}`);
      swimlane.appendChild(eventElement);
      
      htmx.ajax('GET', `/document/${flowId}/${componentId}/${port}`, {
        swap: 'none',
        handler: (dom, event) => {
          console.log(event.xhr.response);
          document.getElementById(`${flowId}.${componentId}.${port}`).outerHTML = event.xhr.response;
        }
      });
    }

    function loadMainComponent(flowId, componentId) {
      const swimlane = document.getElementById('main-swimlane');
      
      htmx.ajax('GET', `/document/${flowId}/${componentId}`, {
        swap: 'none',
        handler: (dom, event) => {
          console.log(event.xhr.response);
          document.getElementById(`main-swimlane`).innerHTML = event.xhr.response;
        }
      });
    }
  </script>
</body>
</html>