<main>
  <h1>FBP Steam Engine</h1>
  <p>The complete Flow-based Programming solution:</p>
  <div style="overflow: hidden;">
    <ul class="navigation">
      <li><a href="/flows"><button>flows</button></a></li>
      <li><a href="/components"><button>components</button></a></li>
      <li><a href="/events"><button>events</button></a></li>
      <li><a href="/stateMachines"><button>state machines</button></a></li>
      <li><a href="/templates"><button>templates</button></a></li>
      <li><a href="/logs"><button>logs</button></a></li>
    </ul>
  </div>
  <p>
    > Works best with multiple screens! (chart, document, logger)<br />
    > *ideal for domain specific languages*
  </p>
  <hr>
  <p>
    What is FBP? Is it time for a new Steam Engine?<br />
    <a href="https://www.youtube.com/watch?v=up2yhNTsaDs" target="_blank">https://www.youtube.com/watch?v=up2yhNTsaDs</a>
  </p>  
  <p>
    Fork this FBP Steam Engine repository for each application.<br />
    <a href="https://github.com/subvind/flow-based-programming" target="_blank">https://github.com/subvind/flow-based-programming</a>
  </p>
  <span>~made with &hearts; by <a href="https://istrav.com">isTrav</a> & <a href="https://subvind.com">subVind</a> + ai :)</span>
</main>