<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- message %></title>
  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
  <%- include('../document/style') %>
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <%- include('../document/flow-selector', { flows: flows }) %>
      <div id="component-selector-container">
        <!-- Component selector will be loaded here after flow selection -->
      </div>
    </div>
    <div class="main-content">
      <div style="padding: 1em 3em;">
        <h1>Select a Flow</h1>
        <div id="component-details">
          <p>Select a flow and then a component to view its details.</p>
        </div>
      </div>
    </div>
  </div>

  <script>
    const socket = io();

    socket.on('display-flow-component-template-content', function(event) {
      const targetId = `${event.flowId}.${event.componentId}.${event.templateId}`;
      const targetElement = document.getElementById(targetId);
      console.log(targetId, event.content);
      if (targetElement) {
        targetElement.outerHTML = event.content;
        // Reinitialize HTMX on the new content
        htmx.process(document.getElementById(targetId));
      }
    });

    htmx.on("htmx:configRequest", (event) => {
      event.detail.headers['Content-Type'] = 'application/json';
    });
  </script>
  <%- include('../document/methods') %> 
</body>
</html>